<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 此处相当于HelloWorld helloWorld = new HelloWorld(); -->
    <!-- scope默认为singleton -->
    <bean id="helloWorld" class="org.spring.model.HelloWorld" scope="prototype"/>

    <bean id="userDao" class="org.spring.dao.UserDao" />
    <bean id="userServiceImpl" class="org.spring.service.UserServiceImpl" autowire="byName">
        <!-- autowire表示自动注入属性，default不注入，byName根据名称 -->
        <!-- <property name="userDao" ref="userDao"></property> -->
    </bean>

    <!-- 使用构造函数来注入，不常用 -->
    <bean id="userAction" class="org.spring.action.UserAction" scope="prototype">
        <constructor-arg ref="userServiceImpl"></constructor-arg>
    </bean>
    <!-- <bean id="userAction" class="UserActiontion" scope="prototype">
        <property name="userServiceImpl" ref="userServiceImpl"></property>
    </bean> -->
</beans>